@charset "UTF-8";

*{
    margin: auto;
    padding: 0px;
}

body{
    background-image: url(../imagens/fundo-madeira.jpg);
}

iframe{
    background-image: url(../imagens/frame-iphone.png);
    width:310px;
    height: 625px;
    display: flex;
    justify-content: center;
}

ul{
    margin: 0px;
    justify-items: right;
}

img{
    height: 100px;
    width: 100px;
}